.list {
  max-width: 565px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 9px;
  border-bottom: 1px solid #D7D9DF;
  font-size: 16px;
}

.term {
  color: #48494D;
}

.description {
  color: #000000;
}