.tabs {
  width: calc(100%-40px);
  margin: 87px 20px 0 14px;
}

.list {
  display: flex;
  margin-bottom: 10px;
}

.item {
  width: 193px;
  font-size: 20px;
  padding-top: 11px;
  padding-bottom: 14px;
  border: 1px solid #D7D9DF;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid #D12136;
  }
}

.itemActive {
  background-color: #D12136;
  color: #FFFFFF;
  border: 1px solid #D12136;
}