.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(77, 77, 77, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  width: 628px;
  height: 350px;
  padding: 34px 35px 31px;
  background-color: #f5f5f9;
}

.popupOff {
  display: none;
}

.title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 49px;
}

.close {
  position: absolute;
  right: 19px;
  top: 24px;
  cursor: pointer;

  &:hover svg path {
    fill: #bd0c21;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 66px) 71px;
  justify-content: space-between;
}

.input {
  width: 248px;
  padding: 15px 25px;
  border: 1px solid rgba(72, 73, 77, 0.2);
  margin-bottom: 16px;
  font-size: 14px;
}

.grade {
  width: 301px;
  justify-self: end;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 600;
}

.area {
  width: 248px;
  grid-column: 2/3;
  grid-row: 2/4;
  margin-bottom: 16px;
  justify-self: end;
  padding: 15px 25px;
  resize: none;
  border: 1px solid rgba(72, 73, 77, 0.2);
  font-size: 14px;
}

.button {
  grid-column: 1/3;
  width: 190px;
  height: 52px;
  justify-self: center;
  align-self: end;
  background-color: #d12136;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;

  &:hover {
    background-color: #bd0c21;
    transition: 0.2s;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.input_error {
  border: 1px solid #ff0000;
  outline-color: #ff0000;
}

.name {
  position: absolute;
  top: 86px;

  &::after {
    content: "*";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #d22d40;
    top: 30px;
    left: 10px;
  }
}

.comment {
  position: absolute;
  top: 153px;
  left: 363px;

  &::after {
    content: "*";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #d22d40;
    top: 34px;
    left: 11px;
  }
}

.name_error {
  position: absolute;
  color: #ff0000;
  font-size: 14px;
  top: 90px;

  &::after {
    content: "*";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #d22d40;
    top: 33px;
    left: 11px;  }
}

.comment_error {
  position: absolute;
  color: #ff0000;
  font-size: 14px;
  top: 153px;
  left: 363px;

  &::after {
    content: "*";
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #d22d40;
    top: 34px;
    left: 11px;
  }
}
