@import '../../global/normalize.scss';

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';

  font-display: swap;
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';

  font-display: swap;
  src: url('../../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Roboto';

  font-display: swap;
  src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../../fonts/Roboto-Bold.woff') format('woff');
}

body {
  min-width: 1024px;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0 auto;
  padding: 0;

  @media (max-width: 1023px) {
    min-width: 768px;
  }

  @media (max-width: 767px) {
    min-width: 320px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}
