.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 91px;
  padding: 0 calc(50% - 585px);
  color: #1F1E25;
  background-color: #F6F7FF;

  @media (max-width: 1023px) {
    padding: 0 calc(50% - 339px);
    min-height: 69px;

    & > a:first-of-type {
      margin-top: 3px;

      @media (max-width: 767px) {
        margin-top: 14px;
        margin-left: 31px;
        margin-bottom: 13px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0 calc(50% - 145px);
    flex-wrap: wrap;
    position: relative;
    min-height: 48px;
  }
}

.nav {
  margin-right: 130px;


  @media (max-width:1023px) {
    margin-right: 28px;
    margin-left: 42px;
  }

  @media (max-width: 767px) {
    margin: 0;
  }
}

.list {
  display: flex;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.item {
  margin-right: 26px;

  @media (max-width:1169px) {
    margin-right: 20px;

    &__none {
      display: none;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 23px 0 18px;
    border-top: 1px solid #C1C2CA;
    margin-right: 0;
    padding-left: 15px;
  }
}

.link {
  color: #1F1E25;
  font-size: 16px;

  &:hover {
    color: #707C87;
  }

  &:active {
    color: #2C36F2;
  }

  @media (max-width: 1023px) {
    font-size: 14px;
  }
  @media (max-width: 767px) {
    font-size: 16px;    
  }  

}

.link__active {
  color: #2C36F2;
}

.enter {
  position: relative;

  @media (max-width: 767px) {
    width: 100%;
    padding: 13px 0 20px 15px;
    border-top: 1px solid #C1C2CA;
    border-bottom: 1px solid #C1C2CA;
  }

  &__svg {
    position: absolute;
    left: -30px;
    top: -3px;

    @media (max-width: 1023px) {
      left: -20px;
      top: -4px;
    }

    @media (max-width: 767px) {
      position: relative; 
      left: 0;
      top: 5px;
      margin-right: 10px; 
    }  
  }

  &__description {
    @media (max-width: 1023px) {
      font-size: 0;
    }
    @media (max-width: 767px) {
      font-size: 16px;    
    }  
  }

  &__none {
    font-size: 0;
  }
}

.button {
  display: none;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: inherit;

  &:hover {
    color: gray;
  }
  
  @media (max-width: 767px) {
    display: block;
    position: absolute;

    &__menu {
      color: #1F1E25;
      top: 11px;
    }

    &__close {
      color: #011C40;
      top: 10px;
      left: calc(50% + 131px);
    }
  }
}

.svg__mobile {
  margin-right: 0;
  margin-top: 3px;
}

