.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  padding: 0 calc(50% - 585px);
  color: #1F1E25;
}

.nav {
  margin-right: 95px;
}

.list {
  display: flex;
}

.item {
  margin-right: 26px;
}

.link {
  color: #1F1E25;
  font-size: 16px;

  &:hover {
    color: #707C87;
  }

  &:active {
    color: #2C36F2;
  }

}
.linkActive {
  color: #2C36F2;
}

.enter {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 22px;
    background: url('../../img/enter.png') no-repeat;
    left: -30px;
    top: -3px;
  }
}
