.list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-width: 168px;
}

.input {
  display: none;
}

.input:checked ~ .label::after {
  color: #D12136;
}

.label {
  font-size: 0;
  line-height: 0;
  display: block;
  cursor: pointer;

  &::after {
    content: '★';
    display: block;
    font-size: 31px;
    line-height: 33px;
    color: rgba(189, 190, 194, 0.7);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  &:hover::after {
    color: #D12136;
  }
}
