.promo {
  display: flex;
  padding: 0 calc(50% - 585px);
  background:
    url('../../img/girl.png') no-repeat center,
    #e6f1fe;
  height: 400px;
}

.wrapper {

  &Right {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-right: 181px;
  }

  &Left {
    width: 400px;
    background:
      url('../../img/black-card.png') no-repeat -22px 119px,
      url('../../img/white-card.png') no-repeat 87px 61px;
  }
}

.title {
  margin: 0;
  padding-top: 115px;
  padding-bottom: 25px;
  font-size: 54px;
  font-weight: 700;
  color: #1F1E25;
  line-height: 38px;
}

.description {
  font-size: 22px;
  color: #1F1E25;
  padding-bottom: 39px;
  line-height: 16px;
}

.link {
  color: #F6F7FF;
  font-size: 18px;
  font-weight: 500;
  width: 234px;
  background-color: #2C36F2;
  border-radius: 4px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 17px;
}
