.converter {
  padding: 0 calc(50% - 585px);
}

.form {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 36px;
    background:
       url('../../img/arrow-left.png') no-repeat,
       url('../../img/arrow-right.png') no-repeat 3px 18px;
    top: 60px;
    left: 48%;
  }
}

.title {
  margin-top: 60px;
  margin-bottom: 65px;
  font-size: 41px;
  line-height: 29px;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  border: none;
}

.caption {
  font-size: 22px;
  font-weight: 500;
}

.input {
  display: block;
  width: 388px;
  height: 58px;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  margin: 0;
  margin-top: 26px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-right: 15px;

  &Date {
    margin-top: 85px;
    background: url('../../img/caledar.png') no-repeat 95% 5px;
    cursor: pointer;
  }
}

.select {
  display: block;
  width: 120px;
  height: 60px;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 17px;
  font-size: 30px;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background: url('../../img/Vector-03.png') no-repeat 85% 50%;
}

.button {
  width: 382px;
  height: 60px;
  align-self: flex-end;
  border-radius: 4px;
  border: none;
  background-color: #2C36F2;
  color: #F6F7FF;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    border: 1px solid #1F1E25;
  }
  &:active {
    border: 2px solid #1F1E25;
    color: #1F1E25;
  }
}

.calendar {
  position: absolute;
  min-width: 390px;
  top: 200px;
  z-index: 10;
}
